imports:
    - { resource: parsers.yml }
    - { resource: listeners.yml }

services:
    crawler:
        class: Innmind\Crawler\Crawler
        arguments:
            - @http
            - @parser
            - @event_dispatcher

    parser:
        class: Innmind\Crawler\Parser
        public: false

    http:
        class: GuzzleHttp\Client
        public: false

    resolver:
        class: Innmind\UrlResolver\UrlResolver
        arguments:
            - [http, https, ftp, sftp]

    dom_factory:
        class: Innmind\Crawler\DomCrawlerFactory
        public: false

    resource_factory:
        class: CrawlerBundle\ResourceFactory
        public: false
        arguments:
            - @event_dispatcher

    publisher:
        class: CrawlerBundle\Publisher
        arguments:
            - @innmind_rest.client
            - @crawler
            - @logger
            - @resource_factory
        tags:
            - { name: monolog.logger, channel: crawling }

    serializer:
        class: Symfony\Component\Serializer\Serializer
        arguments:
            - []
            - []

    consumer.crawler:
        class: CrawlerBundle\Consumer\CrawlerConsumer
        arguments:
            - @publisher
