imports:
    - { resource: 'crawler/parser.yml' }

services:
    crawler: '@crawler.xml_reader_aware'

    crawler.default:
        class: Innmind\Crawler\Crawler
        arguments:
            - '@crawler.transport'
            - '@crawler.parser'

    crawler.robots_aware:
        class: AppBundle\Crawler\RobotsAwareCrawler
        arguments:
            - '@robots'
            - '@crawler.delayer_aware'
            - %user_agent%

    crawler.xml_reader_aware:
        class: AppBundle\Crawler\XmlReaderAwareCrawler
        arguments:
            - '@html.reader.cache'
            - '@crawler.tracer_aware'

    crawler.delayer_aware:
        class: AppBundle\Crawler\DelayerAwareCrawler
        public: false
        arguments:
            - '@delayer'
            - '@crawler.default'

    crawler.tracer_aware:
        class: AppBundle\Crawler\TracerAwareCrawler
        public: false
        arguments:
            - '@tracer'
            - '@crawler.robots_aware'

    crawler.transport: '@crawler.transport.throw_on_server_error'

    crawler.transport.default:
        class: Innmind\HttpTransport\GuzzleTransport
        public: false
        arguments:
            - '@guzzle'
            - '@crawler.transport.translator'

    crawler.transport.catch_guzzle_bad_response:
        class: Innmind\HttpTransport\CatchGuzzleBadResponseExceptionTransport
        public: false
        arguments:
            - '@crawler.transport.default'
            - '@crawler.transport.translator'

    crawler.transport.throw_on_client_error:
        class: Innmind\HttpTransport\ThrowOnClientErrorTransport
        public: false
        arguments:
            - '@crawler.transport.catch_guzzle_bad_response'

    crawler.transport.throw_on_server_error:
        class: Innmind\HttpTransport\ThrowOnServerErrorTransport
        public: false
        arguments:
            - '@crawler.transport.throw_on_client_error'

    crawler.transport.translator:
        class: Innmind\Http\Translator\Response\Psr7Translator
        public: false
        arguments:
            - '@http.header.factories'

    crawler.url_resolver:
        class: Innmind\Crawler\UrlResolver
        public: false
        arguments:
            - '@url_resolver'

    crawler.parser: '@crawler.parser.default'

    guzzle:
        class: GuzzleHttp\Client
        public: false

    http.header.factories:
        class: Innmind\Http\Factory\Header\TryFactory
        public: false
        factory:
            - Innmind\Http\Factory\Header\Factories
            - default
