services:
    homeostasis.actuator.provision_consumers:
        class: AppBundle\Homeostasis\Actuator\ProvisionConsumers
        public: false
        arguments:
            - '@homeostasis.server.status'
            - '@homeostasis.server.control'
            - '@logger'
            - '%kernel.root_dir%/../bin'
            - '%kernel.environment%'

    homeostasis.server.status:
        class: Innmind\Server\Status\Server
        public: false
        factory:
            - '@homeostasis.server.status.factory'
            - 'make'

    homeostasis.server.status.factory:
        class: Innmind\Server\Status\ServerFactory
        public: false

    homeostasis.server.control:
        class: Innmind\Server\Control\Server
        public: false
        factory:
            - '@homeostasis.server.control.factory'
            - 'make'

    homeostasis.server.control.factory:
        class: Innmind\Server\Control\ServerFactory
        public: false
