services:
    publisher:
        class: AppBundle\Publisher\Publisher
        arguments:
            - '@innmind_rest_client'
            - '@crawler'
            - '@resource_translator'

    resource_translator:
        class: AppBundle\Translator\HttpResourceTranslator
        arguments:
            - '@resource_translator.property.delegation'

    resource_translator.property.delegation:
        class: AppBundle\Translator\PropertyTranslator\DelegationTranslator
        public: false
        arguments:
            -
                host: '@resource_translator.property.host'
                path: '@resource_translator.property.path'
                query: '@resource_translator.property.query'
                languages: '@resource_translator.property.languages'
                charset: '@resource_translator.property.charset'
                dimension: '@resource_translator.property.image.dimension'
                weight: '@resource_translator.property.image.weight'
                anchors: '@resource_translator.property.html.anchors'
                android_app_link: '@resource_translator.property.html.android'
                ios_app_link: '@resource_translator.property.html.ios'
                description: '@resource_translator.property.html.description'
                is_journal: '@resource_translator.property.html.journal'
                main_content: '@resource_translator.property.html.main_content'
                theme_colour: '@resource_translator.property.html.theme_colour'
                title: '@resource_translator.property.html.title'
        factory:
            - AppBundle\Factory\PropertyDelegationTranslatorFactory
            - make

    resource_translator.property.host:
        class: AppBundle\Translator\PropertyTranslator\HostTranslator
        public: false

    resource_translator.property.path:
        class: AppBundle\Translator\PropertyTranslator\PathTranslator
        public: false

    resource_translator.property.query:
        class: AppBundle\Translator\PropertyTranslator\QueryTranslator
        public: false

    resource_translator.property.languages:
        class: AppBundle\Translator\PropertyTranslator\LanguagesTranslator
        public: false

    resource_translator.property.charset:
        class: AppBundle\Translator\PropertyTranslator\CharsetTranslator
        public: false

    resource_translator.property.image.dimension:
        class: AppBundle\Translator\PropertyTranslator\Image\DimensionTranslator
        public: false

    resource_translator.property.image.weight:
        class: AppBundle\Translator\PropertyTranslator\Image\WeightTranslator
        public: false

    resource_translator.property.html.anchors:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\AnchorsTranslator
        public: false

    resource_translator.property.html.android:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\AndroidAppLinkTranslator
        public: false

    resource_translator.property.html.description:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\DescriptionTranslator
        public: false

    resource_translator.property.html.ios:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\IosAppLinkTranslator
        public: false

    resource_translator.property.html.journal:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\IsJournalTranslator
        public: false

    resource_translator.property.html.main_content:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\MainContentTranslator
        public: false

    resource_translator.property.html.theme_colour:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\ThemeColourTranslator
        public: false

    resource_translator.property.html.title:
        class: AppBundle\Translator\PropertyTranslator\HtmlPage\TitleTranslator
        public: false
