services:
    robots: '@robots.keep_in_memory'

    robots.cache:
        class: AppBundle\RobotsTxt\CacheParser
        public: false
        arguments:
            - '@robots.default'
            - '@robots.walker'
            - '@filesystem.robots'

    robots.default:
        class: Innmind\RobotsTxt\Parser\Parser
        public: false
        arguments:
            - '@crawler.transport'
            - '@robots.walker'
            - '%user_agent%'

    robots.keep_in_memory:
        class: AppBundle\RobotsTxt\KeepInMemoryParser
        public: false
        arguments:
            - '@robots.cache'

    robots.walker:
        class: Innmind\RobotsTxt\Parser\Walker
        public: false

    filesystem.robots:
        class: Innmind\Filesystem\Adapter\FilesystemAdapter
        public: false
        arguments:
            - '/tmp/robots_txt'
