services:
    crawler.parser.default:
        class: Innmind\Crawler\Parser\SequenceParser
        public: false
        arguments:
            - '@crawler.parser.http.content_type'
            - '@crawler.parser.http.cache'
            - '@crawler.parser.html.base'
            - '@crawler.parser.alternates'
            - '@crawler.parser.canonical'
            - '@crawler.parser.charset'
            - '@crawler.parser.languages'
            - '@crawler.parser.html.open_graph.image'
            - '@crawler.parser.html.open_graph.type'
            - '@crawler.parser.html_title'
            - '@crawler.parser.html.anchors'
            - '@crawler.parser.html.android'
            - '@crawler.parser.html.author'
            - '@crawler.parser.html.citations'
            - '@crawler.parser.html.content'
            - '@crawler.parser.html.description'
            - '@crawler.parser.html.images'
            - '@crawler.parser.html.ios'
            - '@crawler.parser.html.journal'
            - '@crawler.parser.html.links'
            - '@crawler.parser.html.rss'
            - '@crawler.parser.html.theme_color'
            - '@crawler.parser.image.dimension'
            - '@crawler.parser.image.weight'

    crawler.parser.alternates:
        class: Innmind\Crawler\Parser\AlternatesParser
        public: false
        arguments:
            - '@crawler.parser.http.alternates'
            - '@crawler.parser.html.alternates'

    crawler.parser.canonical:
        class: Innmind\Crawler\Parser\ConditionalParser
        public: false
        arguments:
            - '@crawler.parser.html.open_graph.url'
            - '@crawler.parser.html.canonical'
            - '@crawler.parser.http.canonical'

    crawler.parser.charset:
        class: Innmind\Crawler\Parser\ConditionalParser
        public: false
        arguments:
            - '@crawler.parser.html.charset'
            - '@crawler.parser.http.charset'

    crawler.parser.languages:
        class: Innmind\Crawler\Parser\ConditionalParser
        public: false
        arguments:
            - '@crawler.parser.html.languages'
            - '@crawler.parser.http.languages'

    crawler.parser.html_title:
        class: Innmind\Crawler\Parser\ConditionalParser
        public: false
        arguments:
            - '@crawler.parser.html.open_graph.title'
            - '@crawler.parser.html.title'

    crawler.parser.http.content_type:
        class: Innmind\Crawler\Parser\Http\ContentTypeParser
        public: false
        arguments:
            - '@clock'

    crawler.parser.http.alternates:
        class: Innmind\Crawler\Parser\Http\AlternatesParser
        public: false
        arguments:
            - '@crawler.url_resolver'
            - '@clock'

    crawler.parser.http.cache:
        class: Innmind\Crawler\Parser\Http\CacheParser
        public: false
        arguments:
            - '@clock'

    crawler.parser.http.canonical:
        class: Innmind\Crawler\Parser\Http\CanonicalParser
        public: false
        arguments:
            - '@crawler.url_resolver'
            - '@clock'

    crawler.parser.http.charset:
        class: Innmind\Crawler\Parser\Http\CharsetParser
        public: false
        arguments:
            - '@clock'

    crawler.parser.http.languages:
        class: Innmind\Crawler\Parser\Http\LanguagesParser
        public: false
        arguments:
            - '@clock'

    crawler.parser.image.dimension:
        class: Innmind\Crawler\Parser\Image\DimensionParser
        public: false
        arguments:
            - '@clock'

    crawler.parser.image.weight:
        class: Innmind\Crawler\Parser\Image\WeightParser
        public: false
        arguments:
            - '@clock'

    crawler.parser.html.alternates:
        class: Innmind\Crawler\Parser\Html\AlternatesParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'
            - '@crawler.url_resolver'

    crawler.parser.html.anchors:
        class: Innmind\Crawler\Parser\Html\AnchorsParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.android:
        class: Innmind\Crawler\Parser\Html\AndroidParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.author:
        class: Innmind\Crawler\Parser\Html\AuthorParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.base:
        class: Innmind\Crawler\Parser\Html\BaseParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.canonical:
        class: Innmind\Crawler\Parser\Html\CanonicalParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'
            - '@crawler.url_resolver'

    crawler.parser.html.charset:
        class: Innmind\Crawler\Parser\Html\CharsetParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.citations:
        class: Innmind\Crawler\Parser\Html\CitationsParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.content:
        class: Innmind\Crawler\Parser\Html\ContentParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.description:
        class: Innmind\Crawler\Parser\Html\DescriptionParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.images:
        class: Innmind\Crawler\Parser\Html\ImagesParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'
            - '@crawler.url_resolver'

    crawler.parser.html.ios:
        class: Innmind\Crawler\Parser\Html\IosParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.journal:
        class: Innmind\Crawler\Parser\Html\JournalParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.languages:
        class: Innmind\Crawler\Parser\Html\LanguagesParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.links:
        class: Innmind\Crawler\Parser\Html\LinksParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'
            - '@crawler.url_resolver'

    crawler.parser.html.rss:
        class: Innmind\Crawler\Parser\Html\RssParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'
            - '@crawler.url_resolver'

    crawler.parser.html.theme_color:
        class: Innmind\Crawler\Parser\Html\ThemeColorParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.title:
        class: Innmind\Crawler\Parser\Html\TitleParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.open_graph.image:
        class: Innmind\Crawler\Parser\Html\OpenGraph\ImageParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.open_graph.title:
        class: Innmind\Crawler\Parser\Html\OpenGraph\TitleParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.open_graph.type:
        class: Innmind\Crawler\Parser\Html\OpenGraph\TypeParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'

    crawler.parser.html.open_graph.url:
        class: Innmind\Crawler\Parser\Html\OpenGraph\UrlParser
        public: false
        arguments:
            - '@html.reader'
            - '@clock'
